@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    background-image: url('home.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.topnav {
    display: flex;
    justify-content: center;
}

.topnav a {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: crimson;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: teal;
    color: yellow;
}

.main-text-container {
    width: 500px;
    text-align: center;
    height: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.main-text-container h1 {
    color: black;
    font-size: 100px;
}

.main-text-container p {
    color: yellow;
}

.cards {
    position: relative;
    height: 100vh;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.foreground-wave {
    position: absolute;
    bottom: 0;
}

.background-wave {
    position: absolute;
    bottom: 40px;
}

.cards-text {
    font-size: 50px;
    color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards-text {
    transition: ;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}